*{
    font-family: 'Josefin Sans', sans-serif;
}

html{
    width: 100%;
}

/* Stylings for the navigation bar and its content */

header {
    display: flex;
    justify-content: space-around;
    background-color: #B5A2A2;
    padding-top: 30px;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
}

nav li {
    list-style: none;
    display: inline;
    padding: 15px;
    justify-content: space-between;
}

.name{
    font-weight: 600;
    font-size: 24px;
    color: #04550C;
}

nav ul a{
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: #04550C;
}

#navlist {
    float: right;
}

#navlist a:hover {
    color: rgb(251, 255, 0);
}

/* End of Navigation Bar stylings */